{varType bool $cookiesAccepted}

{block cookiesBar}
<div class="eu-cookies-overlay" n:if="$cookiesAccepted === false">
	<div class="eu-cookies container-fluid p-0 py-5 wow text-xl-center">
		<p>Tento web používá k poskytování služeb, personalizaci reklam a analýze
			návštěvnosti soubory cookie.</p>
		<p>Používáním tohoto webu udělujete souhlas s jejich užíváním.</p>
		<a n:href="Home:cookie"  class="eu-cookies-button m-3">Rozumím</a>
	</div>
</div>
{/block}