{varType string $locale}
{var $title = $title}
{var $metaDescription = $metaDescription}

{block content}
	{include '../sections/children.latte', h: 'h1'}
	{include '../sections/contact.latte'}
{/block}
