{varType string $praxisName}
{varType array $priceList}
{varType array $clinicHours}
{varType string $email}
{varType string $phone}
{varType string $address}
{varType string $locale}
{var $title = $title}
{var $metaDescription = $metaDescription}


{block content}
	{include '../sections/hero.latte'}
	{include '../sections/services.latte'}
	{include '../sections/children.latte'}
	{include '../sections/hours.latte'}
	{include '../sections/prices.latte'}
	{include '../sections/insurance.latte'}
	{include '../sections/certificates.latte'}
	{include '../sections/contact.latte'}
{/block}
